# /node_modules
# /public/hot
# /public/storage
# /storage/*.key
# /vendor
# .env
# .env.backup
# .phpunit.result.cache
# docker-compose.override.yml
# Homestead.json
# Homestead.yaml
# npm-debug.log
# yarn-error.log
# /.idea
# /.vscode

/app/Http/Controllers/*
!/app/Http/Controllers/Controller.php
!/app/Http/Controllers/UpdateController.php

/resources/views/*
!/resources/views/components/

/app/Models/*
!/app/Models/.gitkeep

/app/ORM/Generated/Repository/*
!/app/ORM/Generated/Repository/.gitkeep